<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Account</title>
</head>
<body>
    <h1>Verify your rezipes account</h1>
    <p>You created an account on rezipes and it is required that you verify your email for your account to be activated.</p>
    <p>Kindly click <a href="{{url}}">this</a> to verify your mail</p>
    <a href="{{url}}">{{url}}</a> 
    <footer>The Rezipes team</footer>
</body>
</html>